name: Security Review

on:
  pull_request:

jobs:
  bandit:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@v4

      - uses: reviewdog/action-setup@v1

      - run: |
          pip install bandit
          bandit -r . -f json -o result.json || true

      - name: Run Reviewdog
        run: |
          cat result.json | reviewdog -f=bandit -reporter=github-pr-review -level=error
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
